body {
    /* background-color: rgb(203, 202, 205); */
    font-family: Tahoma;
    text-align: center;
    background-image: url('../img/jonatan-pie-3l3RwQdHRHg-unsplash.jpg');
    background-size: cover;
    color: rgba(228, 13, 239, 0.979);
}

.container {
    display: inline-block;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: rgba(46, 238, 235, 0.709);
}

.btn4 {
    width: 80px;
    height: px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: white;
    font: bold;
    text-align: center;
    font-style: bold;
    border: none;
    background: none;
    cursor: pointer;

}

.btn8 {
    width: 80px;
    height: px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: white;
    font: bold;
    text-align: center;
    font-style: bold;
    border: none;
    background: none;
    cursor: pointer;
}

.btn12 {
    width: 80px;
    height: px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: white;
    font: bold;
    text-align: center;
    font-style: bold;
    border: none;
    background: none;
    cursor: pointer;
}

h2 {
    size: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}


.btn-smiley,
.smiley-winner {
    background: none;
    border: none;
}

.btn-smiley::before {
    content: "🤪";
    font-size: 40px;
}

.smiley-sad::before {
    content: "😩";
    font-size: 40px;
}

.smiley-winner::before {
    content: "😎";
    font-size: 40px;
}

.lives {
    size: 10px;
    padding: 10px;
}

.timer {
    font-size: 25px;
}

.btn-smiley {
    cursor: pointer;
    size: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.btn-smiley:hover {}

.board {
    display: inline-block;
}

.board td {
    width: 80px;
    height: 60px;
    border: 3px solid rgb(156, 152, 152);
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: aliceblue;
    font-style: bold;
    font-size: 2.4em;
}

.board td:hover {
    background-color: rgb(242, 154, 98);
    transition: 0.5s;
}

.safe {
    background-color: rgb(148, 232, 23);
}


footer {
    text-align: center;
    font-size: 30px;
}