body {
    background-color: rgb(203, 202, 205);
    font-family: Tahoma;
    text-align: center;
    background-image: url('img/backgroudPic.jpg');
}

.container {
    display: inline-block;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.btn4 {
    width: 80px;
    height: px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font: bold;
    text-align: center;
}

.btn8 {
    width: 80px;
    height: px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font: bold;
    text-align: center;
}

.btn12 {
    width: 80px;
    height: px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font: bold;
    text-align: center;
}

h2 {
    size: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}


.btn-smiley {
    opacity: 10;

}

.smiley-sad::before {
    content: "😩"
}

.smiley-winner::before {
    content: "😎"
}

.lives {
    size: 10px;
    padding: 10px;
}

.timer {
    font-size: 25px;
}

.btn-smiley {
    cursor: pointer;
    size: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.btn-smiley:hover {}

.board {
    display: inline-block;
}

.board td {
    width: 80px;
    height: 60px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* font-size: 2.4em; */
}

.board td:hover {
    background-color: rgb(233, 193, 141);
    transition: 0.5s;
}

.safe {
    background-color: rgb(148, 232, 23);
}


footer {
    text-align: center;
    font-size: 30px;
}