body {
    background-color: rgb(203, 202, 205);
    font-family: Tahoma;
    text-align: center;
    /* background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3374&q=80'); */
}

.container {
    display: inline-block;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.btn4 {
    width: 80px;
    height: px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font: bold;
    text-align: center;
}

.btn8 {
    width: 80px;
    height: px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font: bold;
    text-align: center;
}

.btn12 {
    width: 80px;
    height: px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font: bold;
    text-align: center;
}

h2 {
    size: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}


.btn-smiley {
    opacity: 10;

}

.smiley-sad::before {
    content: "😩"
}

.smiley-winner::before {
    content: "😎"
}

.lives {
    size: 10px;
    padding: 10px;
}

.timer {
    font-size: 25px;
}

.btn-smiley {
    cursor: pointer;
    size: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.btn-smiley:hover {}

.board {
    /* width: 60px; */
    /* height: 60px; */
    /* font-size: 20px;*/
    display: inline-block;
}

.board td {
    box-sizing: border-box;
    width: 80px;
    height: 60px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* font-size: 2.4em; */
}

.board-8x8 td {
    box-sizing: border-box;
    width: 80px;
    height: 30px;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
}

.board-12x12 td {
    box-sizing: border-box;
    width: 80px;
    height: 30px;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
}

footer {
    text-align: center;
    font-size: 30px;
}